body {
  margin-top: 5px;
}

.output {
  margin: 5px 0 5px 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.intro {
  display: block;
  text-align: center;
  font-weight: bolder;
  color: purple;

}

#reverse {
  color: blue;
}
#reverse:hover {
  background-color: yellow;
}